<!-- <div ng-controller="myController"> -->

<div class="row">
	
		<div class="col-md-10" style="margin: 0cm 2cm 0cm 2cm">
			
			<h1 align="center"> - Our Mission - </h1>
			<h4 align="center"> To provide students with opportunities for different career choices </h4><br>
			<h3 align="center"> About the website </h3>
			<p align="center"> At career guide site, we aim to build the career of students by providing them with right career paths
				so that they can excel in their field of interest. We provide them with different streams after various stages and
				and help them choose a perfect path for going on it.
			</p>
			
		</div>

</div>