
			
			<!-- <h1 align="center"> - Contact Us - </h1> -->
			<!-- <h4 align="center"> To contact us, please E-mail or call us at below details </h4><br> -->
			<!-- <div class="col-md-12"> -->
				<!-- <div class="col-md-6"> -->
					<!-- <h3 align="right"> <b>Mev Ishaque I. </b></h3><hr> -->
					<!-- <h3 align="right"> (M): + 91 7874227700 -->
				<!-- </div> -->
				
				<!-- <div class="col-md-6"> -->
					<!-- <h3 align="left"><b>Saiyed Nasiruddin N. </b> </h3><hr> -->
					<!-- <h3 align="left"> (M): + 91 7405482032 </h3> -->
				<!-- </div> -->
				
			<!-- <p align="center"> At career guide site, we aim to build the career of students by providing them with right career paths -->
				<!-- so that they can excel in their field of interest. We provide them with different streams after various stages and -->
				<!-- and help them choose a perfect path for going on it. -->
			<!-- </p> -->
			<!-- </div> -->
			<!-- &nbsp -->
			
			<div class="col-md-12" style = "margin-top:1cm">
				<div class="col-md-3">
					<img src="/images/ishaq.jpg" width="200cm" height="200cm" style="margin:3.74cm 0cm 0cm 2.25cm"/>
				</div>
				<div class="col-md-6">
					<h1 align="center"> - Contact Us - </h1>
					<h4 align="center"> To contact us, please E-mail or call us at below details </h4><br>
					<div class="col-md-12">
						<div class="col-md-6">
							<h3 align="right"> <b>Mev Ishaque I. </b></h3><hr>
							<h3 align="right"> (M): + 91 7874227700
						</div>
				
						<div class="col-md-6">
							<h3 align="left"><b>Saiyed Nasiruddin N. </b> </h3><hr>
							<h3 align="left"> (M): + 91 7405482032 </h3>
						</div>
					</div>	
				</div>
				
				<div class="col-md-3">
					<img src="/images/ishaq.jpg"  width="200cm" height="200cm" style="margin:3.74cm 0cm 0cm 0cm"/>
				</div>
				
			</div>
			
			<div class = "col-md-10" style=" text-align:center; margin-left:2.80cm">
			<br/><br/>	<p> At career guide site, we aim to build the career of students by providing them with right career paths
					so that they can excel in their field of interest. We provide them with different streams after various stages and
					and help them choose a perfect path for going on it.
				</p>
			</div>
			
			