	
	<link rel="stylesheet" href="/css/home/skel-noscript.css" />
	<link rel="stylesheet" href="/css/home/style.css" />
	<link rel="stylesheet" href="/css/home/style-desktop.css" />

		<div id="header-wrapper">
			<div id="banner">
				<div class="container">
					<div class="row">
						<section class="12u">
							<header>
								<h2>In defining the careers of intellectuals</h2>
								<span class="byline">Before building your career you need to pass through it's paths</span>
							</header>
							<!-- <a ui-sref="readMore" class="button button-alt">Read More</a> -->
						</section>
					</div>
				</div>
			</div>			
		</div>
		
		<div id="menu-wrapper" style="padding:10px 0px 0px 10px;">
			<div id="menu" class="container" >
				<ul>
					<li class="current_page_item"><a href="#">Home</a></li>
					<li><a ui-sref="about">About</a></li>
					<li><a ui-sref="blog">Blog</a></li>
					<!-- <li><a ui-sref="portfolio">Portfolio</a></li> -->
					<li><a ui-sref="contact">Contact</a></li>
				</ul>
			</div>
		</div>
		
		<!-- <div id="featured-wrapper"> -->
			<!-- <div class="container"> -->
				<!-- <div class="row double"> -->
                    <!-- <section class="4u"> -->
                        <!-- <header> -->
							<!-- <h2>Want to post something</h2> -->
                        <!-- </header> -->
                        <!-- <span class="pennant"><span class="fa fa-apple"></span></span> -->
                        <!-- <p>You can post or share your Experience in form of articles and testimonies with others in need for Guidance.</p> -->
                        <!-- <a href="#" class="button button-style1">Read More</a> -->
                    <!-- </section> -->
                    <!-- <section class="4u"> -->
                        <!-- <header> -->
							<!-- <h2>Want to help others ?</h2> -->
                        <!-- </header> -->
                        <!-- <span class="pennant"><span class="fa fa-rocket"></span></span> -->
                        <!-- <p>Others can take advantage from your own Personal Experience even if you yourself haven't engaged with Us</p> -->
                        <!-- <a href="#" class="button button-style1">Read More</a> -->
                    <!-- </section> -->
                    <!-- <section class="4u"> -->
                        <!-- <header> -->
							<!-- <h2>Want to chat with Experts</h2> -->
                        <!-- </header> -->
                        <!-- <span class="pennant"><span class="fa fa-cogs"></span></span> -->
                        <!-- <p>Experienced and Professionals describes their struggles to help students, so you can communicate with them.</p> -->
                        <!-- <a href="#" class="button button-style1">Read More</a> -->
                    <!-- </section> -->
				<!-- </div> -->
			<!-- </div> -->
		<!-- </div> -->
		

        <div id="page">
            <div class="container">
               	<div class="row">            
                   	<div id="content" class="8u">
                       	<article>
                           	<header>
                                <h2>Someone out there needs someone like you</h2>
                            </header>
                            <a href="#" class="image-style1"><img src="/img/home/pic02.jpg" alt=""></a>
								<p style="text-align:justify; color:#E0FFFF">The system is mostly helpful and useful for students and fresher who have completed their corresponding courses or degrees or are searching for a correct path which could lead them to proper career destination in their life. Passing out of the school or college is a very lethal and big part of a student’s life
									as it is what decides where they want to go and how they want to shape up their careers. The system is helping them in their confusing phase of life where a single or maybe multi wrong step could be proved as expensive.
									Though there are plenty of helps and tools available for a student to take help from but ultimately they all almost ends up to a very tame conclusion which instead of being helpful to student, makes them confuse. The student would make research for his choice, but could not find a proper way or path from where to start and how to proceed ahead.
									It is helpful to students in a way that what they actually want to do. Based on their education level, a proposed way would be made for them where they would get almost every information based on their choice selection.</p>
                                <!-- <a href="#" class="button button-style1">Read More</a> -->
                        </article>
                        <div id="two-column">
							<div class="row">
								<section class="6u">
                                    <!-- <h2>Donec dictum metus</h2> -->
                                    <ul class="style4">
                                        <li class="first">
                                            <!-- <h3>Mauris vulputate dolor sit amet</h3> -->
                                            <p><a href="https://www.brainyquote.com/quotes/quotes/n/nelsonmand157855.html?src=t_education">Education is the most powerful weapon which you can use to change the world</a></p>
											<p style="color:white"> -  Nelson Mandela </p>
                                        </li>
										 <li>
                                            <!-- <h3>Donec dictum metus in sapien</h3> -->
                                            <p><a href="https://www.brainyquote.com/quotes/quotes/b/benjaminfr141119.html?src=t_education">An investment in knowledge pays the best interest.</a> </p>
											<p style="color:white"> -  Banjamin Franklin </p>
                                        </li>
                                       
                                    </ul>
                                </section>
                                <section class="6u">
                                    <!-- <h2>Donec dictum metus</h2> -->
                                    <ul class="style4">
                                        <li class="first">
                                            <!-- <h3>Mauris vulputate dolor sit amet</h3> -->
                                            <p ><a href="https://www.brainyquote.com/quotes/quotes/c/conradhall285331.html?src=t_education">You are always a student, never a master. You have to keep moving forward.</a></p>
											<p style="color:white"> - Conrad Hall </p>
										</li>
                                        <li>
                                            <!-- <h3>Fusce ultrices fringilla metus</h3> -->
                                            <p><a href="https://www.brainyquote.com/quotes/quotes/a/alberteins108304.html?src=t_education">Education is what remains after one has forgotten what one has learned in school.</a></p>
											<p style="color:white"> - Albert Einstein </p>
										</li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                    <!-- <div id="sidebar" class="4u" ng-controller="sidebarCtrl as sidebar"> -->
					<div id="sidebar" class="4u" ng-controller="myController as myCtrl">
                        <section id="box2">
                            <h2>Our Guidance</h2>
                            <ul class="style2">
                                <!-- <li class="first" ng-repeat="content in sidebar.contents"> -->
								<li class="first" ng-repeat="user in users | limitTo: 4">
									<a ui-sref="stream({streamId: '{{user._id}}' })">
										<img ng-src="{{user.path}}" width="150px" height="150px"></img>
										<br><p>{{user.title}}</p>
									</a>
									<br><br><br>
								<!-- <a ui-sref="{{content.a}}"><img ng-src="{{content.images[0].full}}" alt=""></img>
									<p ng-bind-html = "content.para | unsafe"></p></a> -->
                                </li>
								
                            </ul>
                            <!-- <a href="#" class="button button-style1">Read More</a> -->
                        </section>
                    </div>
                </div>
            </div>
        </div>	
		
    <div id="footer-wrapper">
		<div id="footer" class="container" ng-controller="sidebarCtrl as footer">
			<div id="box1">
				<div class="title">
					<h2> &nbsp&nbsp Latest Posts</h2>
				</div>
				<ul class="style1">
				<li ng-repeat="box1 in footer.box1"><a href="#">{{box1}}</a></li>
				</ul>
			</div>
			<div id="box2">
				<div class="title">
					<h2> &nbsp&nbsp Popular Links</h2>
				</div>
				<ul class="style1">
					<li ng-repeat="box2 in footer.box2"><a href="#">{{box2}}</a></li>
				</ul>
			</div>
			<div id="box3">
				<div class="title">
					<h2>Don't Follow Us For Now</h2>
				</div>
				<p>Don't Follow us for more information on our social media accounts</p>
				<ul class="contact">
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-dribbble"><span>Dribbble</span></a></li>
					<li><a href="#" class="fa fa-tumblr"><span>Tumblr</span></a></li>
				</ul>
					<a href="#" class="icon icon-plus-sign button">Read More</a> 
			</div>
		</div>
	</div>
	
	<!-- Copyright -->
        <div id="copyright" class="container">
            Designed by: <b> Ba&#768;z <br> 
			&copy; Copyright 2017 Career Guidance

        </div>
		<div class="container">
			<div ui-view></div>
		</div>	
		